[client]
user=percona
host=localhost

[xtrabackup]
datadir=/var/lib/mysql
target_dir={{ percona_backup_dir }}
compress={{ 1 if percona_backup_compress else 0 }}
parallel={{ percona_backup_parallel }}
throttle={{ percona_backup_throttle }}
