bind 0.0.0.0
port {{ redis_port }}
tcp-backlog {{ redis_tcp_backlog }}
tcp-keepalive {{ redis_tcp_keepalive }}
timeout {{ redis_timeout }}
protected-mode no

daemonize no
supervised {{ redis_supervised }}
pidfile /var/run/redis/redis-server.pid
loglevel {{ redis_loglevel }}
logfile {{ redis_logfile }}
databases {{ redis_databases }}

maxmemory {{ redis_maxmemory }}
maxmemory-policy {{ redis_maxmemory_policy }}
maxclients {{ redis_maxclients }}

dir {{ redis_dir }}
appendonly {{ redis_appendonly }}
appendfsync {{ redis_appendfsync }}
appendfilename "appendonly.aof"
auto-aof-rewrite-percentage 100
auto-aof-rewrite-min-size 64mb
aof-rewrite-incremental-fsync {{ redis_aof_rewrite_incremental_fsync }}
aof-load-truncated {{ redis_aof_load_truncated }}
aof-use-rdb-preamble {{ redis_aof_use_rdb_preamble }}

{% for save_rule in redis_save_schedule %}
save {{ save_rule }}
{% endfor %}

requirepass {{ redis_password }}
