@plugin "tailwindcss-animate";

@import "tailwindcss" layer(base);

@import "@kibamail/owly/styles/tokens.css" layer(base);

@import "@kibamail/owly/styles/text.css" layer(base);
@import "@kibamail/owly/styles/alert.css" layer(base);
@import "@kibamail/owly/styles/button.css" layer(base);
@import "@kibamail/owly/styles/badge.css" layer(base);
@import "@kibamail/owly/styles/heading.css" layer(base);
@import "@kibamail/owly/styles/spinner.css" layer(base);
@import "@kibamail/owly/styles/dialog.css" layer(base);
@import "@kibamail/owly/styles/checkbox.css" layer(base);
@import "@kibamail/owly/styles/progress.css" layer(base);
@import "@kibamail/owly/styles/text-field.css" layer(base);
@import "@kibamail/owly/styles/select-field.css" layer(base);

@import "@kibamail/owly/styles/semantic-classes.css" layer(base);

@import "./animations.css" layer(base);

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap")
  layer(base);

@theme inline {
  --font-sans: var(--font-manrope);
}

@layer base {
  @font-face {
    font-family: "RocaTwo";
    src: url("/fonts/roca-two-rg.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
}

body {
  @apply font-sans;
  --w-sidebar-width: 260px;
  background: var(--background-brand-hover);
}

#root {
  background-color: var(--background-secondary);
  @apply h-screen w-full flex flex-col overflow-y-auto;
}

.vike-router-transition-in .w-layout-container {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.vike-router-transition-out .w-layout-container {
  opacity: 0;
  transition: opacity 200ms ease-out;
}

.sidebar-draggable-resizer-active {
  cursor: col-resize;
  user-select: none;
}

.sidebar-draggable-resizer-active .draggable-sidebar-resizer {
  background: var(--border-focus);
}

.kb-dialog-overlay {
  @apply data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=open]:fade-in-0 z-5;
}

.kb-dialog-content {
  @apply data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=open]:fade-in-0 data-[state=closed]:zoom-out-95 data-[state=open]:zoom-in-95 data-[state=closed]:slide-out-to-left-1/2 data-[state=closed]:slide-out-to-top-[48%] data-[state=open]:slide-in-from-left-1/2 data-[state=open]:slide-in-from-top-[48%];
}

.kb-select-content {
  @apply data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=open]:fade-in-0 data-[state=closed]:zoom-out-95 data-[state=open]:zoom-in-95 data-[side=bottom]:slide-in-from-top-2 data-[side=left]:slide-in-from-right-2 data-[side=right]:slide-in-from-left-2 data-[side=top]:slide-in-from-bottom-2 data-[side=bottom]:translate-y-1 data-[side=left]:-translate-x-1 data-[side=right]:translate-x-1 data-[side=top]:-translate-y-1;
}

.kb-combobox-popover-content {
  @apply data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=open]:fade-in-0 data-[state=closed]:zoom-out-95 data-[state=open]:zoom-in-95;
}
